* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*,
::after,
::before {
    box-sizing: border-box;
}

section {
    display: block;
}

.section {
    padding: 2rem 0 4rem;
}

.section-title {
    font-size: 1.5rem;
    margin-top: 90px;
}

.section-subtitle {
    display: block;
    font-size: .813rem;
    margin-bottom: 3rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}



header {

    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 100000;
}



li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}


.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.containerr {
    max-width: 768px;
    margin-left: 24px;
    margin-right: 24px;
}

.section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Styling the rest of the class  */

.navbar {
    /* background: rgba(0, 0, 0, 0.8); */
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    font-size: 2rem;
}

.navbar-logo {
    width: 15rem;
}

.navbar-logo:hover {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    font-weight: 600;
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media(max-width:1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.button-primary {
    background-image: linear-gradient(to right, #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 500;
    transition: 1s;
}

.button-primary:hover {
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    background-image: linear-gradient(to right,
            #dd2476 0%,
            #ff512f 51%,
            #dd2476 100%);
}

@media (min-width: 1024px) {
    .button-primary {
        padding: 18px;
        font-size: 20px;
    }
}

body {
    background: url(/img/slideshow3.jpg) no-repeat;
    /* background-image: linear-gradient(to right, #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%); */
    overflow: scroll;
    background-size: cover;
    margin: 0;
    background-position: top;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* ================================== Menu section ================================================================== */
.menu {

    background-color: rgba(0, 0, 0, 0.6);
}



.menu-data,
.menu-header {
    display: flex;
    margin: 20px;
}

.menu-data {
    justify-content: space-between;
    margin-bottom: 16px;
}

.menu-image {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin-right: 12px;
}

.menu-name {
    font-size: 1.125rem;
    font-weight: 500;
}

.menu-price {
    font-size: .813rem;
    /* color: Hsl(var(230), 8%, 65%); */
}

.menu-description {
    margin-bottom: 2.5rem;
    margin: 20px;
}

.Menu-icon-star {
    color: orange;
}

.swiper-pagination .swiper-pagination-menu {
    bottom: 0;
}

@media screen and (max-width: 350px) {

    .menu-data,
    .menu-header {
        flex-direction: column;
        align-items: center;
    }

    .menu-image {
        margin-right: 0;
        margin-bottom: 4px;
    }

    .menu-data,
    .menu-description {
        text-align: center;
    }
}

/* =========================== footer -=======--------------------- */

footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}


.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.social-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.social-links a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.social-links a:hover i {
    color: orange;
}


.footer-bottom {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    /* float: left; */
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: orange;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    /* float: right; */
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
}

.footer-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 350px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}