@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*,
::after,
::before {
    box-sizing: border-box;
}

section {
    display: block;
}

body {

    /* background: url(/img/slideshow2.jpg) no-repeat; */
    background-image: linear-gradient(to right, #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    overflow: scroll;
    background-size: cover;
    margin: 0;
    background-position: top;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /* font-weight: 300; */
    font-size: 12px;
    /* line-height: 30px; */
}

header {

    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 100000;
}



li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* p {
    margin-top: 0;
    margin-bottom: 1rem;
} */

/* Makinf it responsive on a big screen  */

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Styling the rest of the class  */

.navbar {
    /* background: rgba(0, 0, 0, 0.8); */
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    font-size: 2rem;
}

.navbar-logo {
    width: 15rem;
}

.navbar-logo:hover {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    font-weight: 600;
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media(max-width:1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.button-primary {
    background-image: linear-gradient(to right, #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 500;
    transition: 1s;
}

.button-primary:hover {
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    background-image: linear-gradient(to right,
            #dd2476 0%,
            #ff512f 51%,
            #dd2476 100%);
}

@media (min-width: 1024px) {
    .button-primary {
        padding: 18px;
        font-size: 20px;
    }
}


/* Slideshow container */
.hero-section {
    /* height: 950px; */
    overflow: none;
    z-index: 2;
}

.slideshow-container {
    max-width: 1524px;
    position: relative;
    margin: auto;
    border: 8px;
    border-color: #ff512f;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    background-color: rgba(0, 0, 0, 0.8);
    width: auto;
    height: 120px;
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
    font-size: 4vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 400px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .text {
        font-size: 20px;
        bottom: 50px;
    }
}


/* Number text (1/3 etc) */
/* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5.5s;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}



/* ============================== why us section ============================================================================================ */
.why-us {
    background-color: rgba(148, 73, 73, 0.418);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: 0.3s;
    align-items: center;
    height: 200px;
    display: inline-block;
    justify-content: space-between;
    min-height: 300px;
    color: #ffffff;
    padding: 50px 30px;
    transition: all ease-in-out 0.3s;
    width: 300px;
    margin: 30px;
    position: relative;
    height: 100%;
}

.number-title {
    display: block;
    font-size: 28px;
    font-weight: 70;
    color: #ffB03B;
}

span {
    color: #ffB03B;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #ffffff;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerr {
    padding: 2px 16px;
}

.why-head {
    font-family: 'satisfy', !important;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    /* margin: 15px 0 0 0; */
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

.card:hover {
    background: #ffb03b;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
    transition: all ease-in-out 0.3s;
    padding: 30px 30px 70px 30px;
    color: #fff !important;
    padding-bottom: -30px !important;

}

.card:hover .card-title {
    color: #fff !important;
}

.card:hover .number-title {
    color: #fff !important;
}

/* ================================= Welcom section ==================================================== */

.welcome {
    /* max-height: 450px; */
    margin-top: 70px;
    width: 100vw;
    text-align: center;
    position: relative;
    /* overflow: hidden; */
    background: rgb(66, 2, 2);
    margin: 30px 10px;

}

@media screen and (max-width: 939px) {
    .welcome .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.welcome .row {
    display: flex;
    max-width: fit-content;
    align-items: center;
    padding: 0 4rem;
    justify-content: space-around;
    position: relative;

}

.welcome .row .content {
    text-align: left;
}

.welcome .row .welcome-image img {
    width: 50vw
}



.welcome-image {
    height: 300px;
}

.welcome .welcome-content {
    padding: 0 80px;
}

.welcome .welcome-content h3 {
    font-family: 'satisfy', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #5f5950;
}

.welcome .welcome-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.welcome .welcome-content p {
    font-size: 15px;
    color: #848484;
}

.welcome .welcome-content ul {
    list-style: none;
    padding: 0;
}

.welcome .welcome-content ul li+li {
    margin-top: 15px;
}

.welcome .welcome-content ul li {
    position: relative;
    padding-left: 26px;
}


.welcome .welcome-content ul i {
    font-size: 20px;
    color: #ffb03b;
    position: absolute;
    left: 0;
    top: 2px;
}


.welcome .welcome-content p:last-child {
    margin-bottom: 0;
}

/* --------------------------------------------------------- Menu ---------------------------------------- */

.menu-container {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.menu-header {
    text-align: center !important;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.menu-text {
    font-family: '';
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #e6c89d;
}

.row-menu {
    display: block;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

/* .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
} */

.menu .menu-content {
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu .menu-content span {
    /* background: #fff; */
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
}

.menu .menu-content a {
    padding-right: 10px;
    /* background: #fff; */
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: #ff9b08;
}

.menu .menu-content::after {
    content: ".................................................................."
        "......................................................................"
        "......................................................................";
    position: absolute;
    font-size: 1.5vw;
    left: 100px;
    right: -100px;
    top: -4px;
    z-index: 1;
    color: #dad8d4;

}

.menu .menu-ingredients {
    font-style: italic;
    font-size: 14px;
    font-family: "comic Neue", sans-serif;
    color: #948c81;
}

.menulink {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------------- Events ------------------------------------------------------------------- */
.container {
    width: 100%;
}

.events {
    background: url(/img/slideshow3.jpg) center center no-repeat;
    position: relative;
    background-size: cover;
    height: 80vh;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 50%);
    margin-top: 3rem !important;
}



.event-item {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    /* padding: 2fr 3fr; */
    position: absolute;
}

@media screen and (max-width: 600px) {

    .event-item {
        display: flex;
        /* flex-wrap: wrap; */
    }
}

.events .event-item h3 {
    font-weight: 600;
    font-size: 26vw;
    color: #ffB03B;
}

.event-img {
    max-width: 100%;
    width: auto;
    height: 35vw;
    margin-top: 3rem;
}

img {
    vertical-align: middle;
}

.content {
    padding-top: 1.5rem !important;
    margin-left: 28vw;
    width: auto;
    height: 40vw;
    margin-top: 2rem;
    display: block;
    justify-content: center;
    position: absolute;
    color: #fff;
}

.events .event-item .price span {
    border-bottom: 2px solid #ffb03b;
}

.events .event-item ul {
    list-style: none;
    padding: 0;
}

.events .event-item ul li {
    padding-bottom: 10px;
}

.events .event-item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #ffb03b;
}

.events .event-item p:last-child {
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}


/* -------------------------------------------------- Form section   ------------------------------------------------------- */

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="time"],
#contact input[type="date"],
#contact input[type="number"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    background-image: linear-gradient(to right, #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    /* background: #F9F9F9; */
    width: 100%;
    padding: 25px;
    /* margin: 50px 0; */
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(3, 153, 212);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.success {
    color: green;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}

.failed {
    color: red;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}

.section-heading {
    /* font-family: 'Satisfy', cursive !important; */
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
}

.section-text>p {
    margin: 0;
    width: 100vw;
    padding: 10px !important;
    font-weight: 300;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.header {
    text-align: center;
    padding: 32px;
}

.gal-img {
    transition: 1s ease;
}

.gal-img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.roww {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


.contact-us-btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========================== footer -=======--------------------- */

footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}


.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.social-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: white;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.social-links a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.social-links a:hover i {
    color: orange;
}


.footer-bottom {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    /* float: left; */
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: orange;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    /* float: right; */
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
}

.footer-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}