* {

    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8);
    /* background: url(/img/slideshow2.jpg) no-repeat; */
    background-size: cover;
    background-position: top;
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}


/* Makinf it responsive on a big screen  */

.container {
    max-width: 1224px;

    width: 90%;
    margin: 0 auto;
}

/* Styling the rest of the class  */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    font-size: 2rem;
}

.navbar-logo {
    width: 15rem;
}

.navbar-logo:hover {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media(max-width:1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* .navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    /* margin: 10px; */
/* width: 100%; */
/* background-color: rgb(54, 0, 0); */
/* height: 50px; */
/* z-index: 100; */
/* } 


.navbar-brand {
    width: 100px;
} */


/* 
.navbar-logo {
    width: 100%;
}

.navbar-logo:hover {
    cursor: pointer;
}

.navbar .nav-list {
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex: .5;
    text-align: right;
} */

/* .navbar .nav-list ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar .nav-list ul li a {
    text-decoration: none;
    font-size: 20px;
}

.navbar .nav-list ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: brown;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-list ul li:hover::after {
    width: 100%;
}

.button-primary {
    background-image: linear-gradient(to right, #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 500;
    transition: 1s;
}

.button-primary:hover {
    cursor: pointer;
    padding: 15px 30px 15px 30px;
    background-image: linear-gradient(to right,
            #dd2476 0%,
            #ff512f 51%,
            #dd2476 100%);
} */

/* The Overlay (background) */
/* .overlay {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;

} */

/* Position the content inside the overlay */
/* .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
} */

/* The navigation links inside the overlay */
/* .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

} */

/* When you mouse over the navigation links, change their color */
/* .overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
} */

/* Position the close button (top right corner) */
/* .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
} */

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
/* @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn,
    .navbar-logo {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        display: none;
    }
}

@media screen and (min-width: 550px) {

    .nav-button {
        display: none;
    }
} */


/* Slideshow container */
.hero-section {
    height: 850px;
    overflow: none;
    z-index: 2;
}

.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
    border: 8px;
    border-color: #ff512f;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* .text {
    background-color: rgba(0, 0, 0, 0.8);
    width: auto;
    height: 120px;
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    /* padding: 8px 12px; */
/*position: absolute;
bottom: 450px;
width: 100%;
text-align: center;
}

*/

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5.5s;
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

/* why us section  */
.why-us {
    background-color: rgba(148, 73, 73, 0.418);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: 0.3s;
    align-items: center;
    height: 200px;
    display: inline-block;
    justify-content: space-between;
    min-height: 300px;
    color: #ffffff;
    padding: 50px 30px;
    transition: all ease-in-out 0.3s;
    width: 300px;
    margin: 30px;
    position: relative;
    height: 100%;
}

.number-title {
    display: block;
    font-size: 28px;
    font-weight: 70;
    color: #ffB03B;
}

span {
    color: #ffB03B;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #ffffff;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.why-head {
    font-family: 'satisfy', cursive !important;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    font-size: 32px;

    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

.card:hover {
    background: #ffb03b;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
    transition: all ease-in-out 0.3s;
    padding: 30px 30px 70px 30px;
    color: #fff !important;
    padding-bottom: -30px !important;

}

.card:hover .card-title {
    color: #fff !important;
}

.card:hover .number-title {
    color: #fff !important;
}

/* Welcom section  */

.welcome {
    max-height: 450px;
    margin-top: 70px;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: rgb(66, 2, 2);
    margin: 30px 10px;

}

.welcome .row {
    display: flex;
    align-items: center;
    padding: 0 4rem;
    justify-content: space-around;
    position: relative;

}

.welcome .row .content {
    text-align: left;
}

.welcome .row .welcome-image img {
    width: 50vw
}



.welcome-image {
    height: 300px;
}

.welcome .welcome-content {
    padding: 0 80px;
}

.welcome .welcome-content h3 {
    font-family: 'satisfy', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #5f5950;
}

.welcome .welcome-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.welcome .welcome-content p {
    font-size: 15px;
    color: #848484;
}

.welcome .welcome-content ul {
    list-style: none;
    padding: 0;
}

.welcome .welcome-content ul li+li {
    margin-top: 15px;
}

.welcome .welcome-content ul li {
    position: relative;
    padding-left: 26px;
}


.welcome .welcome-content ul i {
    font-size: 20px;
    color: #ffb03b;
    position: absolute;
    left: 0;
    top: 2px;
}


.welcome .welcome-content p:last-child {
    margin-bottom: 0;
}